{% extends 'base.html.twig' %}



{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Vos coordonnees</h1>
        <table id="admin" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Modifier</th>
            </thead>
            <tbody>
                <tr>
                <td>{{user.prenom}}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td><a href="" class="btn btn-dark">Modifier</a></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

