{% extends 'base.html.twig' %}

{%  block title %}Modification du profil utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modification du profil</h1>
            {{ form_start(user) }}
            {{ form_widget(user)}}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

            {{ form_end(user) }}

    </div>

{% endblock %}