{% extends 'base.html.twig' %}

{% block title %}Hello FindController!{% endblock %}

{% block body %}
   {% for repos in pla %}
<tr>
    <td>{{ repos.nom}}</td>
    {{ dump(repos.id) }}
    <td><a href="{{ path('/find/placement/{id}', {'id':repos.id}) }}" class="btn btn-dark">Modifier</a></td>

    {% endfor %}


{% endblock %}
