{% extends 'base.html.twig' %}

{% block title %}Vos portefeuilles{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Liste de vos portefeuilles</h1>
        <table id="admin" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Nom du portefeuille</th>
                <th>Voir en detail</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for repos in pla %}
            <tr>
                <td>{{ repos.nom}}</td>
                <td><a href="{{ path('find_placement', {'id':repos.id}) }}" class="btn btn-dark">Voir en detail</a></td>
                <td><a href="{{ path('supprimer_portefeuille', {'id':repos.id}) }}" class="btn btn-dark">Supprimer</a></td>
            <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



